#quote-box {
  width: 400px;
  margin-top: 40px;
}

#author {
  font-weight: bold;
}

#button-box {
  display: flex;
  justify-content: space-evenly;
}

#new-quote, #tweet-quote {
  background-color: #1F4720;
  color: #FFF;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 10px;
  width: 150px;
  margin: 5px;
}

#new-quote {
  cursor: pointer;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1rem;
  border: none;
}

#tweet-quote {
  text-decoration: none;
}

footer {
  margin-top: 10px;
}

footer, footer a {
  color: #781718;
}

@media screen and (max-width: 400px) {
  #button-box {
    flex-direction: column;
    align-items: center;
  }

  #quote-box {
    width: 300px;
  }
}